@import "setup";

$main-color: #05b0cc;
$soft-color: #b1d8e5;
$light-black: #0f0f0f;
$heading-font: "bebas-neue",sans-serif;
$par-font: "museo",serif;

//OVERALL LAYOUT STYLES
html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background: $main-color;
}
.wrapper {
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	@media (max-width:865px) {
		width: 90%;
		flex-direction: column;
		height: auto;
	}
}
header {
	width: 10%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width:865px) {
		width: 100%;
		margin-left: 0;
		height: auto;
		flex-direction: row;
		justify-content: space-between;
	}
}
.logo {
	width: 5.6rem;
	margin: 3rem 0;
}
.sharing {
	@media (max-width: 865px) {
		display: flex;
		flex-direction: row;
	}
}
.share {
	margin-bottom: 2rem;
	@media (max-width: 865px) {
		margin-bottom: 0;
		margin: 0 1rem;
	}
}
.share-button {
	width: 5rem;
}
.share-text {
	margin: 0.8rem 0;
	font-family: $heading-font;
	font-size: 2rem;
	font-weight: 200;
	text-align: center;
	color: white;
}
main {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 85%;
	height: 90vh;
	margin-left: 5%;
	margin-top: 1.6rem;
	@media (max-width:865px) {
		width: 100%;
		margin-left: 0;
		height: auto;
	}
}
section {
	position: absolute;
	bottom: 0;	
	width: 100%;
	@media (max-width:865px) {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		margin-bottom: 8rem;
		width: 95%;
	}
}
.results {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	@media (max-width:865px) {
		flex-direction: column;
		align-items: center;
	}
}
.text-box {
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	// position: relative;
	// bottom: 0;
	@media (max-width: 865px) {
		width: 100%;
	}
}
.cheers {
	margin: 0;
	font-family: $heading-font;
	font-size: 15rem;
	font-weight: 400;
	line-height: 14rem;
	color: $soft-color;
	text-transform:uppercase;
	@media (max-width: 865px) {
		font-size: 12rem;
	}
}
.where {
	margin: 2rem 0;
	font-family: $par-font;
	font-size: 4.6rem; 
	color: white;
	p {
		margin: 0;
		line-height: 4.2rem;
	}	
	@media (max-width: 865px) {
		margin: 0;
		font-size: 3.6rem;
	}
}
.what-drink {
	margin: 2rem 0 0;
	font-family: $heading-font;
	font-size: 4rem;
	color: $light-black;
	text-transform: uppercase;
	h3 {
		margin: 0;
	}
	@media (max-width: 865px) {
		font-size: 3rem;
	}
}
.location {
		font-style: italic;
}
.location, 
.drink {
		text-decoration: underline;	
}
.drinklink {
	color: black;
}
.another-button {
	width: 24rem;
	margin: 3rem 0 0 0;
	padding: 1rem 0;
	border-radius: 5px;
	background-color: white;
	font-family: $par-font;
	font-size: 2.1rem;
	text-align: center;
	color: $main-color;
	&:hover {
		cursor: pointer;
	}
}
.image-box {
	width: 40%;
	// position: relative;
	// bottom: 0;
	@media (max-width: 865px) {
		width: 100%;
	}
}
.content {
	@media (max-width: 700px) {
		height: 100%;
	}
}

