article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-size: 62.5%;
  background: #B1D8E5;
}

.wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  height: 6%;
}

main {
  width: 100%;
  height: 93%;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 85% 50%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  main {
    background-position: 97% 50%;
  }
}

@media (max-width: 500px) {
  main {
    background-position: 120% 50%;
  }
}

section {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  section {
    justify-content: flex-start;
    width: 50%;
  }
}

@media (max-width: 700px) {
  .content {
    height: 100%;
  }
}

h1 {
  margin: 0;
  font-family: "bebas-neue", sans-serif;
  color: black;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding-left: 5%;
}

p {
  font-family: "museo", serif;
  margin: 0;
  color: white;
}

h3 {
  font-family: "bebas-neue", sans-serif;
  margin: 0;
  color: black;
  text-transform: uppercase;
}

section h1, section p, section h3 {
  width: 100%;
  margin: auto;
  padding-left: 5%;
}

section h1 {
  font-size: 6rem;
}

@media (max-width: 700px) {
  section h1 {
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 0;
    padding-left: 10%;
  }
}

section p {
  font-size: 2.4rem;
}

@media (max-width: 700px) {
  section p {
    padding-left: 10%;
  }
}

section h3 {
  font-size: 2.2rem;
  padding: 5%;
  letter-spacing: 0.05rem;
}

@media (max-width: 700px) {
  section h3 {
    padding-left: 10%;
    margin-top: 30%;
  }
}

.location {
  font-style: italic;
}

.location, .drink {
  text-decoration: underline;
}
